*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}

body{
	background-image: url('../images/pexels-pripicart-620337.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.container{
	background-color: #BBDCE5;
	width: 20%;
	padding: 20px;
	margin-top: 90px;
	border-radius: 23px;
	border: 2px black solid;
}

.container h1{
	text-align: center;
	font-size: 30px;
	font-style: italic;
	justify-content: center;
}

label{
	font-size: 20PX;
	font-style: bold;
	margin: 10px;
	margin-left: 1px;
	margin-bottom: 6px;
}

input{
	width: 80%;
}



