*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial;
}



form{
	align-items: center;
	margin: 70px;
	border: 1px black solid;
	width: 800px;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 2px 2px 15px black;


}

form h2{
	font-size: 30px;
	margin-bottom: 20px;
}

form label{
	font-size: 25px;
}

.btn{
	font-size: 20px;
	padding: 6px;
	margin: 10px;
	box-shadow: 1px 1px 5px black;
}

